Package: com.yexc.noinstaactivity
Name: NoInstaActivity
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Basic tweak
Maintainer: Excalibur
Author: Excalibur
Section: Tweaks
