Package: com.yexc.twotaplock
Name: TwoTapLock
Depends: mobilesubstrate, ws.hbang.common (>= 1.13)
Version: 1.0
Architecture: iphoneos-arm
Description: Tap on SpringBoard to lock device
Maintainer: Excalibur
Author: Excalibur
Section: Tweaks
