Package: com.yexc.spotlightclear
Name: SpotlightClear
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Clears Spotlight search on edit
Maintainer: yExcalibur
Author: yExcalibur
Section: Tweaks
