Package: com.yexc.messagesxi
Name: MessagesXI
Pre-Depends: firmware (>= 11.0)
Depends: mobilesubstrate, ws.hbang.common (>= 1.13)
Version: 1.1-2
Architecture: iphoneos-arm
Description: Add cool stuff to Messages
Maintainer: Excalibur <excaliburiim@gmail.com>
Author: Excalibur <excaliburiim@gmail.com>
Section: Tweaks
Depiction: https://cakarlen.github.io/depictions/?p=com.yexc.messagesxi